/* ELEMENT STYLES -------------------- */

#main-app {
  background: #fff;
  font-family: arial;
  margin: 30px 0 0 0;
  font-size: 1rem;
}

#main-app header.app-header {
  padding: 5px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #016087;
}

#main-app header.app-header h1 {
  flex-grow: 1;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: normal;
  margin: 0.5em 0;
  color: #fff;
}

#main-app button {
  display: inline-block;
  padding: 6px 12px;
  margin: 6px 4px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #016087;
  border-color: #016087;
  text-transform: uppercase;
  min-width: 144px;
  height: auto;
  box-shadow: none;
}

#main-app button:active {
  padding: 6px 12px;
  box-shadow: none;
  background-color: #4d4d4d;
  border-color: #4d4d4d;
}

#main-app ol {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

#main-app p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

#main-app button.reject {
  background-color: #d9534f;
  border-color: #d9534f;
}

#main-app button.accept {
  background-color: #4caf50;
  border-color: #4caf50;
}

#main-app .column p {
  margin: 0 0 10px;
}

/* Component styles */

.image-comparison-tool {
  max-width: 1140px;
  margin: 70px auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 6px;
  overflow: hidden;
}

#modal {
  padding: 100px;
}

#preview-all {
  columns: 2 auto;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
}

#main-app iframe.preview {
  border-radius: 4px;
  border: 1px solid #e3e3e3;
  background: #fff;
}

.preview-top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action,
.download,
.skip {
  display: flex;
  justify-content: flex-end;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
}

.loading-panel {
  height: 720px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #4d4d4d;
  animation-name: fade;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
}

.loading-icon {
  font-size: 100px;
  color: #4d4d4d;
  height: 100px;
  line-height: 100px;
  white-space: nowrap;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.loading-message {
  margin: 0;
  font-size: 2rem;
}
